[data-md-color-scheme="custom"] {
  --md-primary-fg-color: #009ED2;
  --md-primary-fg-color--light: #33B2E8;
  --md-primary-fg-color--dark: #007BB8;
  --md-accent-fg-color: #FF4081;
  --md-typeset-a-color: #1E88E5;

  /*--md-text-font-family: system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";*/
  --md-default-fg-color--light: #000000;
}

:root {
  --md-text-font: system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
}

.md-header__inner {
  padding-top: 6px;
  padding-bottom: 6px;
}

.md-header__title {
  margin-left: 0px !important;
}

.md-search, .md-search__overlay, .md-search__form {
  background-color: #009ED2 !important;
}


.md-header, .md-tabs {
  box-shadow: none !important;
}

.md-tabs {
  border-top: solid 1px #ececed !important;
  border-bottom: solid 1px #ececed !important;
}

.md-tabs__item.md-tabs__item--active {
  border-bottom: solid 2px #009ED2;
}

.md-tabs__item--active .md-tabs__link {
  color: #000000;
  font-weight: 600;
}

.md-tabs {
  border-top: solid 1px #58b5dc;
  background-color: white;
}

.md-tabs__link {
  color: #5c727d;
}

.md-tabs__link:hover {
  color: #000000;
}

.md-nav__item--section {
  margin-top: 32px;
}

.md-nav__item--section > .md-nav__link {
  font-feature-settings: normal;
  font-size: 12px;
  font-variation-settings: normal;
  font-weight: 600;
  text-transform: uppercase !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1 {
  font-weight: 700 !important;
}

.grid.cards > ul > li {
  border: solid 1px #d8e8f1;
  background-color: #f3f7fc;
}

.grid.cards hr {
  background-color: #d8e8f1;
  border: solid 1px #d8e8f1;
}